/* grvl 1.1.0 */

.black {background: #212121; color: white;}
.blackf {color: #212121;}
.gray {background: lightgrey;}
.white {background: white;}
.red {background: #f44336; color: white;}
.orange {background: #FF5722; color: white;}
.yellow {background: #FFEB3B; color: white;}
.green {background: #8BC34A; color: white;}
.blue {background: #2196F3; color: white;}
.indigo {background: #673AB7; color: white;}
.violet {background: violet; color: white;}

 a {
  color:#212121;
  text-decoration:none;
}
a:hover{
  text-decoration: underline;
}
article {
  display: flex;
  flex-wrap: wrap;
}
aside {
  display: flex;
  flex-wrap: wrap;
}
body{
  background: #F5F5F5;
  color: #212121;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
header{
  display:flex;
  flex-wrap:nowrap;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
p {
  margin:0;
  padding:5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  }
ul li{
  margin: 0;
  padding: 0;
  }
.box{
  background: #ffffcc;
  box-shadow: 
rgba(0, 0, 0, 0.2) 0px 2px 3px 0.5px, rgba(0, 0, 0, 0.0470588) 0px 0px 1px 1px
;
0px 2px 3px 0.5px rgba(0,0,0,0.2), 0 0 1px 1px rgba(0,0,0,0.05)application-25822e4….css:4a;
  min-height:10px;
  margin: 10px;
  min-width:100px;
  padding-bottom:5px;
}
.c{
  display:flex;
  flex-direction: column;
}
.m {
  display: none;
  }
.w {
  display: flex;
  flex-wrap: wrap;
}
